@model StackOverflow.ViewModels.IndividualPostViewModel
@using Microsoft.AspNet.Identity;
    

@{
    ViewBag.Title = "InvidualPost";
}

<div class="row">
    <p>
        &nbsp;
    </p>
    <p>
        &nbsp;
    </p>
    <div class="col-md-12 col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.Post.Title</h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">@Model.Post.PostContent </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                @Html.ActionLink("New Comment", "Create", "Posts", new { UserID = User.Identity.GetUserId() }, new { @class = "btn btn-default" })
            </div>
            <div class="col-sm-12">
                <h3>User Comment </h3>
            </div>
        </div>

        @if (!Model.Comments.Any())
        {
            <p>No Comments to Display</p>
        }

        else
        {
            foreach (var item in Model.Comments)
            {

                var i = 0;
                <div class="row">
                    <span id="VoteCountDisplay-@item.Id">
                        @Html.Partial("_CommentVotePartial", item)
                    </span>                   
                   

                    <div class="col-sm-1">
                        <div class="thumbnail">
                            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>@item.User.UserName</strong> <span class="text-muted">Posted at: @item.CommentedTimeStamp</span>
                            </div>
                            <div class="panel-body">
                                @item.CommentContent
                            </div>
                        </div>
                    </div>
                </div>
                i++;
            }
        }

    </div>
</div>




